  /* Base reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: #f9fdfd;
  }

  :root {
    --primary-color: #000;
    --secondary-color: #0596b3;
    --tertiary-color:#e48400;
    --grey: #908989;
    --uniform:'Uniform Rnd Cond';
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img, video{
    max-width: 100%;
  }

  .heading-details {
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    font-family: var(--uniform);
  }

  span.highlight {
    color: var(--secondary-color);
  }

  .sub-title {
    max-width: 880px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 32px;
    color: #525261;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
  main#main {
    overflow: hidden;
  }
  .header {
    background-color: transparent;
    padding: 12px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: all 0.5s linear;
  }

  .header.sticky {
    background: rgba(227, 243, 246, 0.87);
    backdrop-filter: blur(5px);
  }

  .container {
    max-width: 1440px;
    margin: auto;
  }

  .left .logo {
    height: 32px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
  }

  .nav a:hover {
    color: #007c91;
  }

  .demo-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 11px 26px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    transition: all 0.2s linear;
  }

  .demo-btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
  }

  /* Hamburger */
  .hamburger {
    transition: all 0.3s ease;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
  }

  .hamburger {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--secondary-color);
  }

  .menuToggle #hamburger span:nth-child(2) {
    display: none;
  }

  .menuToggle #hamburger span:nth-child(1) {
    transform: translate(0, 5px) rotate(-45deg);
  }

  .menuToggle #hamburger span:nth-child(3) {
    transform: translate(0, -2px) rotate(45deg);
  }

  /* Mobile Menu */
  .mobile-menu {
    display: none;
    flex-direction: column;
    padding: 20px;
  }
  .mobile-menu ul {
    display: grid;
    gap: 20px;
    padding-top: 30px;
}
  .mobile-menu a {
    margin-bottom: 15px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
  }

  .mobile-menu .demo-btn {
    margin-top: 10px;
    align-self: flex-start;
  }

  .hero-section {
    position: relative;
    padding: 120px 0 120px;
    background-image: url("../images/banner-bg-shape.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 73px;
    isolation: isolate;
  }

  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(191,255,255,0.09803921568627451) 0%, rgba(177,222,231,0.9999999999999999) 100%);
    bottom: 220px;
    z-index: -1;
    opacity: 0;
}

  .zigzag-img {
    display: flex;
    justify-content: end;
  }

  .arrow img {
    height: 280px;
  }

  .hero-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .hero-bottom-shape img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero-section .text-content {
    width: 40%;
    max-width: 550px;
    padding: 20px 0;
}
.hero-section-flex .image-content {
  width: 60%;
  text-align: right;
}

  .hero-section .text-content h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: left;
    font-family: var(--uniform);
  }

  .hero-section .image-content img {
    max-width: 100%;
  }

  .headerflex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .hero-section .text-content h1 span {
    color: var(--secondary-color);
  }

  .hero-section .text-content p {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 396px;
  }

  .hero-section-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .hero-section .text-content ul {
    list-style: none;
    margin-bottom: 25px;
    text-align: left;
  }

  .hero-section .text-content ul li {
    margin-bottom: 10px;
    font-size: 17px;
    color: var(--primary-color);
  }

  .cst-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 250px;
}

  .hero-section .container {
    padding: 0 20px;
  }

  .cst-buttons .btn {
    padding: 12px 5px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    max-width: 300px;
    border: 1px solid;
    transition: all 0.2s linear;
  }

  .btn.blue {
    background: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
    padding: 12px 40px;
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
}

  .btn.blue:hover {
    background: transparent;
    color: var(--secondary-color);
  }

  .btn.orange {
    background: var(--tertiary-color);
    color: white;
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid;
    border-color: var(--tertiary-color);
}

  .btn.orange:hover {
    background: transparent;
    color: var(--tertiary-color);
  }

  .hero-section .text-content {
    padding: 0;
    text-align: center;
  }

  .hero-section .text-content img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 4px solid #00a6c7;
  }

  .hero-section .text-content ul li span {
    color: #179f17;
  }

  /* Wave background shape */
  .wave-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
  }

  /* Line and arrow */
  .line-graphic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -75px;
}

.timeline-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  grid-column-gap: 300px; */
  max-width: 1300px;
  margin: auto;
  align-items: start;
  padding: 180px 0 100px;
}

  .timeline-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .timeline-item {
    padding: 20px;
    max-width: 400px;
    border-radius: 12px;
    margin-left: 0;
    text-align: right;
    height: 120px;
    position: relative;
  }

  .timeline-item:nth-child(even) {
    margin-left: auto;
    text-align: left;
}
  .timeline-item img {
    /* max-width: 130px; */
    /* display: none; */
    transform: scale(0.9);
    transition: all 0.2s linear;
    /* display: none; */
  }

  /* img.timeline-icon.active {
    filter: grayscale(1);
    transform: scale(1);
} */
  .timeline-column.left {
    text-align: end;
    align-items: end;
  }

  .timeline-item h3 {
    margin-bottom: 12px;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
  }

  .timeline-item p {
    font-size: 15px;
    color: var(--grey);
    line-height: 1.5;
  }


  .timeline-column.center {
    align-items: center;
    position: relative;
    margin-top: -55px;
  }

  .timeline-column.right {
    align-items: start;
    height: 100%;
    justify-content: center;
  }

  .timeline-column.center img {
    height: 100%;
    max-height: 1000px;
    object-fit: contain;
  }

  /* .timeline-item .icon-wrapper {
    transform: translate(100%, 50%);
}
.timeline-item:nth-child(even) .icon-wrapper {
  transform: translate(-100%, 50%);
} */

.timeline-item .icon-wrapper {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  outline: 2px solid #4faec6;
  outline-offset: -12px;
  box-shadow: 0 0 15px 0 #4faec63b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s linear;
  position: absolute;
  right: 0;
  top: -35px;
  transform: translate(calc(100% * 1.6), 0);
}
.inner-wrapper {
  width: 140px;
  height: 140px;
  background: #4faec6;
  border-radius: inherit;
  border: 5px solid #d1eaf0;
  outline: 1px dashed #fff;
  outline-offset: -10px;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-wrapper::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #51aac0;
  top: 40px;
  right: 22px;
  border: 1px solid #fff;
  transition: all 0.3s linear;
}
.timeline-item .icon-wrapper::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: #bbe0e9;
  left: 0;
  top: 50%;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.timeline-item.active .icon-wrapper {
  background: #008eac;
  outline: 2px solid #fff;
}
.timeline-item.active .inner-wrapper {
  background: inherit;
  border-color: #45b1cd;
}
.timeline-item.active .icon-wrapper::before {
  background: #018eac;
}

.timeline-item:nth-child(even) .icon-wrapper {
  transform: translate(calc(-100% * 1.6), 0);
}
.timeline-item:nth-child(even) .icon-wrapper {
  transform: translate(calc(-100% * 2.6), 0);
}
.timeline-item:nth-child(even) .icon-wrapper::before {
  transform: translateX(100%);
  left: auto;
  right: 0;
}
/* made for you start  */
 .made-for {
    padding: 150px 0 250px;
    background-image: url("../images/made-for-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
  
  }

  .wavy-shape-top {
    position: absolute;
    right: 0;
    top: 230px;
}

.wavy-shape-bottom {
  position: absolute;
  bottom: 70px;
  left: 0;
}

.made-for .nav-pills {
  max-width: 400px;
  gap: 8px;
}

  .made-for .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #d3dfe7;
    position: relative;
    transition: all 0.2s linear;
}
.made-for .nav-link::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  background: var(--secondary-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}

.made-for .nav-link.active {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.made-for .nav-link.active::before {
  background: #fff;
}

.made-for .nav-link img {
  max-width: 50px;
}
.made-for .content-wrapper img {
  width: 100%;
  margin: 0 0 40px;
}

.made-for .nav-link:hover {
  border-color: var(--secondary-color);
}

.made-for .nav-link.active img {
  filter: brightness(0) invert(1);
}

.made-for .content-wrapper h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--uniform);
}

.made-for .content-wrapper p {
  margin: 0;
  font-size: 16px;
}
.made-for .content-wrapper .btn {
  margin-top: 25px;
}
.can-do-swiper {
  padding-bottom: 40px;
}

.can-do-swiper span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background:var(--secondary-color);
}
/* made for you end  */

/* what-can-do start  */
.what-can-do {
  padding: 120px 0;
}
.can-do-card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 15px 10px rgb(5 150 179 / 5%);
  padding: 10px;
  width: calc(100% - 150px);
  max-width: 1150px;
  margin: 0 auto;
}
.can-do-card:not(:last-of-type) {
  margin-bottom: 40px;
}
.can-do-card .icon-box {
  max-width: 50px;
  margin: 0 0 20px;
}
.can-do-card .content-left h4 {
  font-size: 30px;
  font-family: var(--uniform);
  font-weight: 700;
}

.can-do-card p {
  font-size: 17px;
  line-height: 30px;
  color: #525261;
  font-weight: 400;
  font-family: "Poppins";
}
.what-can-do .content-left {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.what-can-do .content-right h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.play-icon {
  background: #000;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s linear;
}

.what-can-do .content-right {
  padding: 30px 30px 0;
  background: #f3f5fc;
  border-radius: 16px;
  height: 100%;
}
.video-wrapper {
  position: relative;
  padding: 20px 30px;
}

.video-wrapper video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  border-radius: 12px;
  transition: all 0.2s linear;
}
.video-thumbnail {
  position: absolute;
  inset: 0;
  background: #f3f5fc;
  width: 100%;
  height: 100%;
  padding: 20px 30px 0;
  transition: all 0.2s linear;
}

.video-wrapper.video-toggle video {
  opacity: 1;
}
.video-wrapper.video-toggle .video-thumbnail {
  opacity: 0;
}
.video-wrapper.video-toggle .play-icon {
  opacity: 0;
}
.video-wrapper.video-toggle:hover .play-icon {
  opacity: 1;
}
.swiper-button-prev, .swiper-button-next {
  width: 50px;
  height: 50px;
  background: #0596b3;
  border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
  color: #fff;
}
/* what-can-do end  */
/* step-experience start  */
.step-experience {
  padding: 150px 0;
  background-image: url("../images/step-bg-shape.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  isolation: isolate;
}
.step-experience::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, #e0f1f5 0%, #f2f9fb 41%, #e0f1f5 100%);
  top: 150px;
  z-index: -1;
  bottom: 180px;
}
.team-card-warp {
  padding: 20px 0;
}
.team-card-warp .row {
  align-items: center;
}
.team-card-content-left {
  max-width: 600px;
}
.team-card-warp:last-child .team-card-content-left {
  margin-left: auto;
}
.team-card-warp .section-title {
  text-align: left;
  margin: 0 0 20px;
}
.step-experience .video-thumbnail {
  background: transparent;
  padding: 0;
}

.team-card-content-left p {
  font-size: 17px;
  line-height: 29px;
  color: #393944;
  font-weight: 400;
  font-family: "Poppins";
  margin: 15px 0;
}
.team-card-content-left img {
  margin-top: 20px;
  max-width: max-content;
}
.team-card-content-left h5 {
  font-size: 20px;
  line-height: 29px;
  color: #20202f;
  font-weight: 500;
}
/* step-experience end  */
/* get-in-touch start  */
.get-in-touch {
  padding: 80px 0;
  overflow: clip;
  overflow-y: visible;
  position: relative;
  z-index: 1;
}

.get-in-touch-content .heading-details {
  width: 100%;
  max-width: 400px;
}
.get-in-touch-content  .section-title {
  text-align: left;
}
.get-in-touch-content .sub-title {
  text-align: left;
}
.get-in-touch-content img {
  transform: translate(50px,70%);
}
.contact-form {
  padding: 45px;
  box-shadow: 0 0 10px rgba(0 0 0 /10%);
  border-radius: 20px;
  max-width: 550px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-group .form-control {
  background: #f0f2f9;
  border-radius: 12px;
  border: 0;
  padding: 10px 15px;
  height: 50px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  color: #414151;
}
.contact-form .form-group .form-control::placeholder {
  color: #414151;
}
.contact-form .form-group textarea.form-control {
  height: 125px;
}
.contact-form .form-group .form-control:focus {
  box-shadow: none;
  outline: 2px solid var(--secondary-color);
}

input#name{
  background-image: url("../images/profile.png");
}
input#email{
  background-image: url("../images/mail.png");
}
input#phone {
  background-image: url("../images/phone.png");
}
select#service {
  background-image: url("../images/dropdown.png");
}
textarea#message {
  background-image: url("../images/edit.png");
  background-position: top 15px right 15px;
}
.contact-form button {
  display: block;
  width: 100%;
}
/* get-in-touch end  */
/* site-footer start  */
.site-footer {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 200px 0 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.site-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, #fbffff 0%, #d1edf1 100%);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 180px;
  opacity: 0;
}
.footer-top {
  padding-top: 40px;
}
.footer-top .row {
  row-gap: 20px;
}
.site-footer .social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: var(--icon-color);
  color: #fff;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.social-icons a:hover {
  color: var(--icon-color);
  background: #fff;
  border: 1px solid #ddd;
}
.site-footer .content-left, .site-footer .content-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.site-footer h4 {
  font-size: 26px;
  line-height: 31px;
  color:var(--secondary-color);
  font-weight: 600;
  font-family: var(--uniform);
  margin: 0;
}
.site-footer .newsletter-form {
  position: relative;
  flex-grow: 1;
}
.site-footer .newsletter-form input[type="email"] {
  width: 100%;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  height: 50px;
}

.site-footer .newsletter-form input[type="email"]:focus-visible {
  outline: 1px solid #e48400;
  border-color: #e48400;
}

.newsletter-form button[type="submit"] {
  width: 100%;
  max-width: 140px;
  padding: 10px 20px;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  background: #e48400;
  border-color: #e48400;
}

.footer-btm {
  border-top: 1px solid #d0ecf1;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}

.footer-links::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #def2f5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.footer-links a {
  font-size: 20px;
  line-height: 35px;
  color: #31313f;
  font-weight: 400;
  font-family: "Poppins";
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.footer-links a:nth-of-type(2)::before, .footer-links a:nth-of-type(2)::after {
  content: "|";
  position: absolute;
}
.footer-links a:nth-of-type(2)::before {
  left: 0;
}

.footer-links a:nth-of-type(2)::after {
  right: 0;
}
.copyright {
  text-align: center;
  margin-top: 40px;
}
.copyright p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

/* site-footer end  */


.swiper.vertical-slider {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 30px;
}

.vertical-slider .swiper-slide {
  height: 100%;
}

.vertical-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet.nav-link {
  width: auto;
  height: auto;
  opacity: 1;
  display: flex !important;
}

.vertical-slider .custom-pagination {
  position: static;
  transform: translate(0, 0);
  width: 30%;
  max-width: 400px;
}

.vertical-slider .swiper-wrapper {
  width: calc(70% - 30px);
  margin-left: auto;
  max-width: 940px;
}

.made-for .nav-link.swiper-pagination-bullet-active {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

.made-for .nav-link.swiper-pagination-bullet-active::before {
  background: #fff;
}

.made-for .nav-link.swiper-pagination-bullet-active img {
  filter: brightness(0) invert(1);
}