@font-face {
    font-family: 'Uniform Rnd Cond';
    src: url('UniformRndCond-Bold.eot');
    src: url('UniformRndCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Bold.woff2') format('woff2'),
        url('UniformRndCond-Bold.woff') format('woff'),
        url('UniformRndCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd';
    src: url('UniformRnd-Black.eot');
    src: url('UniformRnd-Black.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Black.woff2') format('woff2'),
        url('UniformRnd-Black.woff') format('woff'),
        url('UniformRnd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd';
    src: url('UniformRnd-Bold.eot');
    src: url('UniformRnd-Bold.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Bold.woff2') format('woff2'),
        url('UniformRnd-Bold.woff') format('woff'),
        url('UniformRnd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Cond';
    src: url('UniformRndCond-Light.eot');
    src: url('UniformRndCond-Light.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Light.woff2') format('woff2'),
        url('UniformRndCond-Light.woff') format('woff'),
        url('UniformRndCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Cond';
    src: url('UniformRndCond-Black.eot');
    src: url('UniformRndCond-Black.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Black.woff2') format('woff2'),
        url('UniformRndCond-Black.woff') format('woff'),
        url('UniformRndCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Cond';
    src: url('UniformRndCond-Regular.eot');
    src: url('UniformRndCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Regular.woff2') format('woff2'),
        url('UniformRndCond-Regular.woff') format('woff'),
        url('UniformRndCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('UniformRndExCond-Medium.eot');
    src: url('UniformRndExCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Medium.woff2') format('woff2'),
        url('UniformRndExCond-Medium.woff') format('woff'),
        url('UniformRndExCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('UniformRndExCond-Light.eot');
    src: url('UniformRndExCond-Light.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Light.woff2') format('woff2'),
        url('UniformRndExCond-Light.woff') format('woff'),
        url('UniformRndExCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('UniformRndExCond-Bold.eot');
    src: url('UniformRndExCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Bold.woff2') format('woff2'),
        url('UniformRndExCond-Bold.woff') format('woff'),
        url('UniformRndExCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Cond Ultra';
    src: url('UniformRndCond-Ultra.eot');
    src: url('UniformRndCond-Ultra.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Ultra.woff2') format('woff2'),
        url('UniformRndCond-Ultra.woff') format('woff'),
        url('UniformRndCond-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Cond';
    src: url('UniformRndCond-Medium.eot');
    src: url('UniformRndCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('UniformRndCond-Medium.woff2') format('woff2'),
        url('UniformRndCond-Medium.woff') format('woff'),
        url('UniformRndCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('UniformRndExCond-Black.eot');
    src: url('UniformRndExCond-Black.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Black.woff2') format('woff2'),
        url('UniformRndExCond-Black.woff') format('woff'),
        url('UniformRndExCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd';
    src: url('UniformRnd-Light.eot');
    src: url('UniformRnd-Light.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Light.woff2') format('woff2'),
        url('UniformRnd-Light.woff') format('woff'),
        url('UniformRnd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd';
    src: url('UniformRnd-Medium.eot');
    src: url('UniformRnd-Medium.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Medium.woff2') format('woff2'),
        url('UniformRnd-Medium.woff') format('woff'),
        url('UniformRnd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd';
    src: url('UniformRnd-Regular.eot');
    src: url('UniformRnd-Regular.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Regular.woff2') format('woff2'),
        url('UniformRnd-Regular.woff') format('woff'),
        url('UniformRnd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond Ultra';
    src: url('UniformRndExCond-Ultra.eot');
    src: url('UniformRndExCond-Ultra.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Ultra.woff2') format('woff2'),
        url('UniformRndExCond-Ultra.woff') format('woff'),
        url('UniformRndExCond-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd Ultra';
    src: url('UniformRnd-Ultra.eot');
    src: url('UniformRnd-Ultra.eot?#iefix') format('embedded-opentype'),
        url('UniformRnd-Ultra.woff2') format('woff2'),
        url('UniformRnd-Ultra.woff') format('woff'),
        url('UniformRnd-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('UniformRndExCond-Regular.eot');
    src: url('UniformRndExCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('UniformRndExCond-Regular.woff2') format('woff2'),
        url('UniformRndExCond-Regular.woff') format('woff'),
        url('UniformRndExCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

